# Virtual Environment
venv/

# Environment Variables
.env

# SQLite Database
*.db

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
*.log

# Uploads
uploads/

# OS Files
.DS_Store
Thumbs.db